
header{
    background-color: #920505c0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 10px;
    border-radius: 16px 16px 0 0;
    font-family: inter;

    


    img{
        width: 40px;
    }
}